<header class="card-header header">
    <span class="header-span">Not Signed In.</span>
    <h1><img src="/images/stretching-exercises.png" alt="stretching-exercises" height="70" width="100"> Fitness For Life</h1>
</header>