<nav class="navbar navbar-expand-lg navbar-light background">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav nav-div">
        <% if(data==undefined || data.user==null){%>
            <a class="nav-item nav-link" href="/signIn">Sign In</a>
        <%}else{%>
            <form action="/logout" method="POST">
                <input class="button-link nav-item nav-link" type="submit" value="Sign Out">
            </form>
        <% } %>
        <%# <a class="nav-item nav-link" href="#">Sign In</a><span class="nav-spans">|</span> %>
        <span class="nav-spans">|</span>
        <a class="nav-item nav-link" href="/myItems">My Plans</a><span class="nav-spans">|</span>
        <a class="nav-item nav-link" href="#">Cart</a>
    </div>
    </div>
</nav>