        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/site-navigation.ejs %>
            <main class="col-sm-9">
                <h3>ABOUT FITNESS FOR LIFE</h3>
                <p>No matter what you’re looking for in a gym, we’ve got a membership option made for you. 
                All Fitness for Life members enjoy unlimited access to their home club and the support of our 
                friendly, knowledgeable staff anytime you need it. Fitness for Life Black Card® members receive additional 
                benefits, including the ability to bring a guest for free and access to any of our 1,600+ PF 
                locations.
                <p>Looking for a little extra guidance or inspiration to help you meet your fitness goals? As a 
                Fitness for Life member, you can take advantage of our free fitness training or find your motivation by reading
                 real member experiences on Fitness for Life.</p>
                <p>It’s our goal to provide a clean, safe, welcoming environment for anyone who walks 
                through our door, and all the equipment, amenities and support you need once you’re here.</p>
                <h6>Welcome to Fitness for Life. The Judgement Free Zone®</h6>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>


