        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/site-navigation.ejs %>
            <main class="col-sm-9">
                <div class="main-content-div">
                    <ul class="ul-type-none">
                        <% for(var i=0; i<data.categories.length; i++){%>
                        <li class="nav-item"><%= data.categories[i] %>
                            <ul>
                                <% for(var j=0; j<data.items.length; j++){ 
                                    if(data.items[j].catalogCategory == data.categories[i]){ %>
                                    <li class="nav-item"><a class="nav-link" href="/categories/item/<%= data.items[j].itemCode%>"><%= data.items[j].itemName %></a></li>
                                <% } } %>
                            </ul>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>


