<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fitness For Life</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
    <div class="container">
        <% include header.ejs %>
        <% include user-navigation.ejs %>
        <div class="row row-override">
            <% include site-navigation.ejs %>
            <main class="col-sm-9">
                <h3>Give your feedback for</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="<%= data.item.imageURL%>" alt="<%= data.item.itemName%>" height="200"/>
                    </div>
                    <div class="col-sm-9">
                        <h4 class="bolder"><%= data.item.itemName%></h4>
                        <h5><%= data.item.catalogCategory%></h5>
                        <p>Gold Standard 100% Whey Whey Protein Isolate 24g Protein 5.5g BCAAs 4g Glutamine & 
                        Glutamic Acid 100% of the Protein From Whey The True Strength of Whey Whey Protein 
                        Isolates (WPIs) are the purest form of whey protein that currently exists. WPIs are 
                        costly to use, but rate among the best proteins that money can buy. That's why they're 
                        the first ingredient you read on the Gold Standard 100% Whey label.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 offset-md-3 form-group row">
                        <div class="col-md-3"><h5>Rating</h5></div>
                        <div class="col-md-4">
                            <select class="form-control" id="ratingSelect">
                            <option>Select</option>
                            <option>1 Star <i class="fa fas fa-star"></i></option>
                            <option>2 Star <i class="fa fas fa-star"></i></option>
                            <option>3 Star <i class="fa fas fa-star"></i></option>
                            <option>4 Star <i class="fa fas fa-star"></i></option>
                            <option>5 Star <i class="fa fas fa-star"></i></option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-primary main-content-div">Confirm Rating</button>
                        </div>
                    </div>
                    <div class="col-md-9 offset-md-3">
                        <div class="col-md-3 offset-md-7">
                            <a href="#" class="btn btn-primary main-content-div">I made it <i class="fa fas fa-check-circle"></i></a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <% include footer.ejs %>
    </div>
</body>
</html>


