        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/site-navigation.ejs %>
            <main class="col-sm-9">
                <div class="main-content-div">At Fitness for Life, product development and innovation are done with the exerciser and 
                    commercial fitness facility in mind. Our mission is to provide solutions that get the 
                    world moving and help people lead active and healthy lives.<br><br>
                    <h4>THE 2019 FITNESS CHALLENGE</h4>
                    The Fitness Challenge features everything we’ve learned, taught and developed over the 
                    last 53 years and delivers it all in one life-changing event. By committing to 12 weeks 
                    you'll experience the best of our coaching, our community and – most of all – you’ll 
                    experience change.<br><br>
                    <h4>FITNESS EXPERIENCE</h4>
                    World-class certified personal trainers, energetic class instructors, 
                    and innovative fitness programs – we have the coaching, programs, and 
                    experience you need to help you achieve your fitness goals.
                </div>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>